<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- LOGIN BEAN -->
	<bean id="loginDAO" class="org.govmix.proxy.fatturapa.web.console.dao.DBLoginDao"
		scope="request" />

	<!-- FatturaElettronica -->
	<bean id="fatturaElettronicaSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.search.FatturaElettronicaSearchForm"
		scope="session" />

	<bean id="fatturaElettronicaService"
		class="org.govmix.proxy.fatturapa.web.console.service.FatturaElettronicaService"
		scope="request">
		<property name="form" ref="fatturaElettronicaSearchForm" />
	</bean>

	<bean id="fatturaElettronicaMBean"
		class="org.govmix.proxy.fatturapa.web.console.mbean.FatturaElettronicaMBean"
		scope="request">
		<property name="service" ref="fatturaElettronicaService" />
		<property name="search" ref="fatturaElettronicaSearchForm" />
	</bean>
	
	<!-- FatturaElettronica Attiva -->
	<bean id="fatturaElettronicaAttivaSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.search.FatturaElettronicaAttivaSearchForm"
		scope="session" >
		<property name="soloConservazione" value="false" />
	</bean>
		
	<bean id="fileUploadBean" class="org.govmix.proxy.fatturapa.web.console.mbean.FileUploadBean" scope="session" />

	<bean id="fatturaElettronicaAttivaService"
		class="org.govmix.proxy.fatturapa.web.console.service.FatturaElettronicaAttivaService"
		scope="request">
		<property name="form" ref="fatturaElettronicaAttivaSearchForm" />
	</bean>
	
	<bean id="fatturaElettronicaAttivaForm"
		class="org.govmix.proxy.fatturapa.web.console.form.FatturaForm"
		scope="request" >
		<property name="fatturaFile" ref="fileUploadBean" />
	</bean>

	<bean id="fatturaElettronicaAttivaMBean"
		class="org.govmix.proxy.fatturapa.web.console.mbean.FatturaElettronicaAttivaMBean"
		scope="request">
		<property name="service" ref="fatturaElettronicaAttivaService" />
		<property name="search" ref="fatturaElettronicaAttivaSearchForm" />
		<property name="form" ref="fatturaElettronicaAttivaForm" />
	</bean>
	
	<!-- FatturaElettronica Attiva (Solo Conservazione) -->
	<bean id="fatturaElettronicaAttivaSoloConservazioneSearchForm" class="org.govmix.proxy.fatturapa.web.console.search.FatturaElettronicaAttivaSearchForm" scope="session" >
		<property name="soloConservazione" value="true" />
	</bean>
		
	<bean id="fatturaElettronicaAttivaSoloConservazioneService" class="org.govmix.proxy.fatturapa.web.console.service.FatturaElettronicaAttivaService" scope="request">
		<property name="form" ref="fatturaElettronicaAttivaSoloConservazioneSearchForm" />
	</bean>
	
	<bean id="fatturaElettronicaAttivaSoloConservazioneForm" class="org.govmix.proxy.fatturapa.web.console.form.FatturaForm" scope="request" >
		<property name="fatturaFile" ref="fileUploadBean" />
	</bean>

	<bean id="fatturaElettronicaAttivaSoloConservazioneMBean" class="org.govmix.proxy.fatturapa.web.console.mbean.FatturaElettronicaAttivaMBean" scope="request">
		<property name="service" ref="fatturaElettronicaAttivaSoloConservazioneService" />
		<property name="search" ref="fatturaElettronicaAttivaSoloConservazioneSearchForm" />
		<property name="form" ref="fatturaElettronicaAttivaSoloConservazioneForm" />
	</bean>
	

	<!-- Sezione PCC -->
	<!-- Scadenze -->
	<bean id="scadenzaSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.ScadenzaSearchForm"
		scope="session" />

	<bean id="scadenzaService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.ScadenzaService"
		scope="request">
		<property name="form" ref="scadenzaSearchForm" />
	</bean>

<!-- 	<bean id="scadenzaMBean" -->
<!-- 		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.ScadenzaMBean" -->
<!-- 		scope="request"> -->
<!-- 		<property name="service" ref="scadenzaService" /> -->
<!-- 		<property name="search" ref="scadenzaSearchForm" /> -->
<!-- 	</bean> -->


	<!-- Contabilizzazioni -->
	<bean id="contabilizzazioneSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.ContabilizzazioneSearchForm"
		scope="session" />

	<bean id="contabilizzazioneService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.ContabilizzazioneService"
		scope="request">
		<property name="form" ref="contabilizzazioneSearchForm" />
	</bean>

<!-- 	<bean id="contabilizzazioneMBean" -->
<!-- 		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.ContabilizzazioneMBean" -->
<!-- 		scope="request"> -->
<!-- 		<property name="service" ref="contabilizzazioneService" /> -->
<!-- 		<property name="search" ref="contabilizzazioneSearchForm" /> -->
<!-- 	</bean> -->

		<!-- Pagamento -->
	<bean id="pagamentoSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.PagamentoSearchForm"
		scope="session" />

	<bean id="pagamentoService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.PagamentoService"
		scope="request">
		<property name="form" ref="pagamentoSearchForm" />
	</bean>

	<bean id="pagamentoMBean"
		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.PagamentoMBean"
		scope="request">
		<property name="service" ref="pagamentoService" />
		<property name="search" ref="pagamentoSearchForm" />
	</bean>

	<!-- Operazioni sezione monitoraggio -->
	<bean id="operazioneSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.OperazioneSearchForm"
		scope="session" />

	<bean id="operazioneService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.OperazioneService"
		scope="request">
		<property name="form" ref="operazioneSearchForm" />
	</bean>

	<bean id="operazioneMBean"
		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.OperazioneMBean"
		scope="request">
		<property name="service" ref="operazioneService" />
		<property name="search" ref="operazioneSearchForm" />
	</bean>
	
	<!-- Notifica EC -->
	<bean id="notificaECForm"
		class="org.govmix.proxy.fatturapa.web.console.form.NotificaECForm"
		scope="request" />

	<bean id="notificaECService"
		class="org.govmix.proxy.fatturapa.web.console.service.NotificaECService"
		scope="request">
		<property name="form" ref="notificaECForm" />
	</bean>

	<bean id="notificaECMBean"
		class="org.govmix.proxy.fatturapa.web.console.mbean.NotificaECMBean"
		scope="request">
		<property name="service" ref="notificaECService" />
		<property name="form" ref="notificaECForm" />
	</bean>

	<!-- Dipartimenti -->
	<bean id="dipartimentoSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.DipartimentoSearchForm"
		scope="session" />

	<bean id="dipartimentoService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.DipartimentoService"
		scope="request">
		<property name="form" ref="dipartimentoSearchForm" />
	</bean>

	<bean id="dipartimentoMBean"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.mbean.DipartimentoMBean"
		scope="request">
		<property name="service" ref="dipartimentoService" />
		<property name="search" ref="dipartimentoSearchForm" />
	</bean>
	
		<!-- Dipartimenti-Utenti -->
	<bean id="dipartimentiUtenteSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.DipartimentoSearchForm"
		scope="session" />
	
		<bean id="dipartimentiUtenteService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.DipartimentoService"
		scope="request">
		<property name="form" ref="dipartimentiUtenteSearchForm" />
	</bean>

	<!-- Utenti -->
	<bean id="utenteSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.UtenteSearchForm"
		scope="session" />

	<bean id="utenteService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.UtenteService"
		scope="request">
		<property name="form" ref="utenteSearchForm" />
	</bean>

	<bean id="utenteMBean"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.mbean.UtenteMBean"
		scope="request">
		<property name="service" ref="utenteService" />
		<property name="search" ref="utenteSearchForm" />
		<property name="dipartimentoSearch" ref="dipartimentiUtenteSearchForm" />
	</bean>

	<!-- Enti -->
	<bean id="protocolloSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.ProtocolloSearchForm"
		scope="session" />

	<bean id="protocolloService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.ProtocolloService"
		scope="request">
		<property name="form" ref="protocolloSearchForm" />
	</bean>

	<bean id="protocolloMBean"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.mbean.ProtocolloMBean"
		scope="request">
		<property name="service" ref="protocolloService" />
		<property name="search" ref="protocolloSearchForm" />
		<property name="registroMBean" ref="registroMBean" />
	</bean>
	
	<bean id="registroMBean"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.mbean.RegistroMBean"
		scope="request">
		<property name="service" ref="registroService" />
		<property name="search" ref="registroSearchForm" />
	</bean>

	<!-- Registri -->
	<bean id="registroSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.RegistroSearchForm"
		scope="session" />

	<bean id="registroService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.RegistroService"
		scope="request">
		<property name="form" ref="registroSearchForm" />
	</bean>
	
	
	<!-- Rispedizioni -->
	<bean id="rispedizioneSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.form.RispedizioneSearchForm"
		scope="session" />

	<bean id="rispedizioneService"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.service.RispedizioneService"
		scope="request">
		<property name="form" ref="rispedizioneSearchForm" />
	</bean>

	<bean id="rispedizioneMBean"
		class="org.govmix.proxy.fatturapa.web.console.anagrafica.mbean.RispedizioneMBean"
		scope="request">
		<property name="service" ref="rispedizioneService" />
		<property name="search" ref="rispedizioneSearchForm" />
	</bean>
	
	<!-- Trasmissioni -->
	<bean id="trasmissioneSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.TrasmissioneSearchForm"
		scope="session" />

	<bean id="trasmissioneService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.TrasmissioneService"
		scope="request">
		<property name="form" ref="trasmissioneSearchForm" />
	</bean>

	<bean id="trasmissioneMBean"
		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.TrasmissioneMBean"
		scope="request">
		<property name="service" ref="trasmissioneService" />
		<property name="search" ref="trasmissioneSearchForm" />
	</bean>
	
		<!-- Esiti -->
	<bean id="esitoSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.EsitoSearchForm"
		scope="session" />

	<bean id="esitoService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.EsitoService"
		scope="request">
		<property name="form" ref="esitoSearchForm" />
	</bean>

	<bean id="esitoMBean"
		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.EsitoMBean"
		scope="request">
		<property name="service" ref="esitoService" />
		<property name="search" ref="esitoSearchForm" />
	</bean>
	
		<!-- Errori -->
	<bean id="erroreSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.pcc.search.ErroreSearchForm"
		scope="session" />

	<bean id="erroreService"
		class="org.govmix.proxy.fatturapa.web.console.pcc.service.ErroreService"
		scope="request">
		<property name="form" ref="erroreSearchForm" />
	</bean>

	<bean id="erroreMBean"
		class="org.govmix.proxy.fatturapa.web.console.pcc.mbean.ErroreMBean"
		scope="request">
		<property name="service" ref="erroreService" />
		<property name="search" ref="erroreSearchForm" />
	</bean>
	
	
		<!-- Conservazione -->
	<bean id="conservazioneSearchForm"
		class="org.govmix.proxy.fatturapa.web.console.search.ConservazioneSearchForm"
		scope="session" />

	<bean id="conservazioneService"
		class="org.govmix.proxy.fatturapa.web.console.service.ConservazioneService"
		scope="request">
		<property name="form" ref="conservazioneSearchForm" />
	</bean>

	<bean id="conservazioneMBean"
		class="org.govmix.proxy.fatturapa.web.console.mbean.ConservazioneMBean"
		scope="request">
		<property name="service" ref="conservazioneService" />
		<property name="search" ref="conservazioneSearchForm" />
	</bean>
</beans>
