
#header {
  background: #0f0;
  width: 100%;
}

#main {
  background: #FFF url(../jsp/img/bg5.png) repeat-y;
}

#leftcol {
  background-color: #FF9933;
  color: #FFF;
  float: left;
  width: 200px;
}

#leftcol .s-title {
	color: #000099;
	font-weight: bold;
	font-size:11px;
	display: block;
	margin-top:5px;
	margin-left:5px;
}

#leftcol .s-elem {
	color: #000;
	font-size:10px;
	margin-left:15px;
}

#content {
  background: #fff;
  margin-top:5px;
  margin-left:200px;
  padding-left:5px;
}

#bottom {
	clear: both;
	width: 100%;
	float: left;
	margin-left: 7px;
	border-top:10px solid #FFF;
}

#section-title {
	background-color: #FF9933;
	color: #FFF;
	font-weight: bold;
	padding:3px;
}

body {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0px;
}

code, pre {
	font-family: 'Andale Mono', Courier, monospace;
}

pre {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table {
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	align: center;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
	border-collapse: collapse;
	border-spacing: 5px;
	width: 95%;	
}



td.td1 {font-size: 8pt; color: #003366;}

indent {
	margin: 5px;
}

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #003366;
}

li.sub {
	padding:2px;
}

h1, h2, h3, h4 {
        font-family: luxi sans,sans-serif;
        color: #22437f;
        font-weight: bold;
}
h1 {
        font-size: 2em;
}

h2 {
        font-size: 1.75em;
}

h3 {
        font-size: 1.25em;
}


.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #999999;
        background-color: #CCCCCC;
        color: #000;
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}




.tip { 
	font-size: 11px;
	border-style: solid; 
	border-width: 1px; 
	border-color: #090; 
	background-color: #dfd; 
	text-align:left; 
	margin-top: 5px; 
	margin-bottom: 5px
}

.tip .programlisting{ 
    font-size: 11px;
    font-family: Courier;
    border-style: solid;
    border-width: 0px;
    background-color: #dfd;
    text-align:left;
    margin-top: 5px;
    margin-bottom: 5px
}


.tip table{
	font-size: 11px;
	margin-top: 5px; 
}

.warning {
        font-size: 11px;
        border: 1px solid #FF6633;
	background-color: #FFCC66;
        text-align:left;
        margin-top: 5px;
        margin-bottom: 5px;
	 border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;

}

.warning .programlisting{
    font-size: 11px;
    font-family: Courier;
    border-style: solid;
    border-width: 0px;
    background-color: #FFCC66;
    text-align:left;
    margin-top: 5px;
    margin-bottom: 5px
}


.warning table{
        font-size: 11px;
}

.note {
        font-size: 11px;
        border-style: solid;
        border-width: 1px;
        border-color: #090;
        background-color: #dfd;
        text-align:left;
        margin-top: 5px;
        margin-bottom: 5px
}

.note table{
        font-size: 11px;
}

.note .programlisting{
    font-size: 11px;
    font-family: Courier;
    border-style: solid;
        border-width: 0px;
        background-color: #dfd;
        text-align:left;
        margin-top: 5px;
        margin-bottom: 5px

}

