
input, select, textarea, button, keygen, isindex, legend, a {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
fieldset {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
hr {
    border-style: solid;
    border-width: 1px;
}
fieldset {
    border-color: #bed6f8;
}
hr {
    border-color: #bed6f8;
}
a {
    color: #0078d0;
}
a:hover {
    color: #0090ff;
}
a:visited {
    color: #0090ff;
}
.rich-container input, .rich-input, .rich-container select, .rich-select, .rich-container textarea, .rich-textarea, .rich-container button, .rich-button, .rich-container keygen, .rich-keygen, .rich-container isindex, .rich-isindex, .rich-container legend, .rich-legend, .rich-container a, .rich-link, .rich-container fieldset, .rich-fieldset, .rich-field, .rich-field-edit, .rich-field-error, .rich-button, .rich-button-disabled, .rich-button-over, .rich-button-press {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-container fieldset, .rich-fieldset {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}
.rich-container hr, .rich-hr {
    border-style: solid;
    border-width: 1px;
}
.rich-container legend, .rich-legend {
    font-weight: bold;
}
.rich-container form, .rich-form {
    margin: 0;
    padding: 0;
}
.rich-container fieldset, .rich-fieldset {
    border-color: #bed6f8;
}
.rich-container hr, .rich-hr {
    border-color: #bed6f8;
}
.rich-container a, .rich-link {
    color: #0078d0;
}
.rich-container a:hover, .rich-link:hover {
    color: #0090ff;
}
.rich-container a:visited, .rich-link:visited {
    color: #0090ff;
}
.rich-field, .rich-field-edit, .rich-field-error {
    border-color: #bed6f8;
    border-style: inset;
    border-width: 1px;
}
.rich-field {
    background-color: #fff;
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.ButtonBackgroundImage/DATB/eAFjYGDg!v!9049r-5gAGcAFgg__.jsf");
    background-position: 1px 1px;
    background-repeat: no-repeat;
}
.rich-field-edit {
    background-color: #feffda;
}
.rich-field-error {
    background-color: #f00;
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.InputErrorIcon/DATB/eAF79uw!AAWAAsw_.jsf");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 7px;
}
.rich-button, .rich-button-disabled, .rich-button-over, .rich-button-press {
    background-color: #d6e6fb;
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #bed6f8;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    padding: 2px 10px;
    text-align: center;
}
.rich-button {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGAQ-vflze9n15gAGi0Fqg__.jsf");
}
.rich-button-disabled {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGAQ-vflze9n15gAGi0Fqg__.jsf");
}
.rich-button-over {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonBgImage/DATB/eAFjYGAQ-vflze9n15gAGi0Fqg__.jsf");
}
.rich-button-press {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.StandardButtonPressedBgImage/DATB/eAFjYGAQ-v3s2r8vb5gAGbgFqg__.jsf");
    background-position: left bottom;
}
.rich-box-border-color-control-select {
    border-color: #e79a00;
}
.rich-box-border-color-subborder {
    border-color: #fff;
}
.rich-box-border-color-header {
    border-color: #bed6f8;
}
.rich-box-border-color-general {
    border-color: #fff;
}
.rich-box-border-color-additional {
    border-color: #ecf4fe;
}
.rich-box-border-color-panel {
    border-color: #bed6f8;
}
.rich-box-border-color-tip {
    border-color: #e5973e;
}
.rich-box-border-color-table {
    border-color: #c0c0c0;
}
.rich-box-border-control-select, .rich-box-border-subborder, .rich-box-border-header, .rich-box-border-general, .rich-box-border-additional, .rich-box-border-panel, .rich-box-border-tip, .rich-box-border-table {
    border-style: solid;
    border-width: 1px;
}
.rich-box-border-control-select {
    border-color: #e79a00;
}
.rich-box-border-subborder {
    border-color: #fff;
}
.rich-box-border-header {
    border-color: #bed6f8;
}
.rich-box-border-general {
    border-color: #fff;
}
.rich-box-border-additional {
    border-color: #ecf4fe;
}
.rich-box-border-panel {
    border-color: #bed6f8;
}
.rich-box-border-tip {
    border-color: #e5973e;
}
.rich-box-border-table {
    border-color: #c0c0c0;
}
.rich-box-bgcolor-header {
    background-color: #bed6f8;
}
.rich-box-bgcolor-general {
    background-color: #fff;
}
.rich-box-bgcolor-additional {
    background-color: #ecf4fe;
}
.rich-box-bgcolor-tab {
    background-color: #c6deff;
}
.rich-box-bgcolor-trim {
    background-color: #d6e6fb;
}
.rich-box-bgcolor-tip {
    background-color: #fae6b0;
}
.rich-box-bgcolor-table {
    background-color: #fff;
}
.rich-box-bgcolor-table-footer {
    background-color: #ccc;
}
.rich-box-bgcolor-table-subfooter {
    background-color: #f1f1f1;
}
.rich-box-bgcolor-editor {
    background-color: #f1f1f1;
}
.rich-box-bgcolor-edit {
    background-color: #feffda;
}
.rich-text-color-header {
    color: #000;
}
.rich-text-color-general {
    color: #000;
}
.rich-text-color-tab-disabled {
    color: #8db7f3;
}
.rich-text-color-select {
    color: #e79a00;
}
.rich-text-color-link-general {
    color: #0078d0;
}
.rich-text-color-link-hover {
    color: #0090ff;
}
.rich-text-color-link-visited {
    color: #0090ff;
}
.rich-font-size-general {
    font-size: 11px;
}
.rich-font-size-header {
    font-size: 11px;
}
.rich-font-family-general {
    font-family: Arial,Verdana,sans-serif;
}
.rich-font-family-header {
    font-family: Arial,Verdana,sans-serif;
}
.rich-text-general {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-text-header {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-text-tab-disabled {
    color: #8db7f3;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-text-control-select {
    color: #e79a00;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-gradient-header-inverse {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.HeaderInverseGradientImage/DATB/eAFjYGDg!nFt3!!vn5gAGKwFgg__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-header {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.HeaderGradientImage/DATB/eAFjYGDg!v!9049r-5gAGcAFgg__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-tab {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.TabGradientImage/DATB/eAFjYGDg!n!v2P!!!5kAGWcFrg__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-tab-inverse {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.TabInverseGradientImage/DATB/eAFjYGDg!g8E944xAQAadQWu.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-input {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.InputGradientImage/DATB/eAFjYGDg!vflzf!!!5kAGqIF6Q__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-menu-inverse {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.MenuInverseGradientImage/DATB/eAFjYGDg!vflzf97x5gAGc0Fjw__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-menu {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.MenuGradientImage/DATB/eAFjYGDg!n!v2L8vb5gAGRwFjw__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-button-inverse {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.ButtonInverseGradientImage/DATB/eAFjYGDg!v3s2r8vb5gAGYAFow__.jsf");
    background-repeat: repeat-x;
}
.rich-gradient-button {
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.ButtonGradientImage/DATB/eAFjYGDg!vflze9n15gAGfUFow__.jsf");
    background-repeat: repeat-x;
}
