
.rich-pmenu {
    overflow: hidden;
    padding-right: 4px;
}
.rich-pmenu-group {
    border-top: 1px solid;
    cursor: pointer;
    margin-top: 1px;
    padding: 2px 1px 1px;
}
.rich-pmenu-top-group {
    background-position: left top;
    background-repeat: repeat-x;
    border-top: medium none;
    cursor: pointer;
    height: 20px;
    margin-top: 0;
    padding: 2px 1px 2px 2px;
}
.rich-pmenu-item {
    border-top: 1px solid;
    cursor: pointer;
    margin-top: 1px;
    padding: 2px 1px 1px;
}
.rich-pmenu-top-group-div {
    border: 1px solid;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 1px;
    width: 100%;
}
.rich-pmenu-group-self-label {
    padding-left: 5px;
    width: 100%;
}
.rich-pmenu-nowrap {
    white-space: nowrap;
}
.rich-pmenu-group {
    border-top-color: #c0c0c0;
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.rich-pmenu-top-group {
    background-color: #bed6f8;
    background-image: url("/fatturaPA/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.gradientimages.PanelMenuGroupGradient/DATB/eAH7!!3Tj2v7mAAZZAV3.jsf");
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.rich-pmenu-item {
    border-top-color: #c0c0c0;
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}
.rich-pmenu-top-group-div {
    border-color: #bed6f8;
}
.rich-pmenu-disabled-element {
    color: #8db7f3;
}
.rich-pmenu-hovered-element {
    background-color: #ecf4fe;
}
.rich-pmenu-disabled-element {
    cursor: default;
}
.rich-pmenu-selected-element {
    font-style: italic;
}
