/** 
 *
 * icons 
 *
 */
 
.icon-fatturapa-magnifier {
	background-image: url(../images/fatturapa/icons/magnifier.png) ! important;
} 
 
.icon-fatturapa-info-grey {
	background-image: url(../images/fatturapa/icons/info-grey.png) ! important;
}

.icon-fatturapa-info-yellow {
	background-image: url(../images/fatturapa/icons/info-yellow.png) ! important;
}

.icon-fatturapa-info-green {
	background-image: url(../images/fatturapa/icons/info-green.png) ! important;
}

.icon-fatturapa-info-red {
	background-image: url(../images/fatturapa/icons/info-red.png) ! important;
}

.icon-fatturapa-db-grey {
	background-image: url(../images/fatturapa/icons/db-grey.png) ! important;
}

.icon-fatturapa-db-ko {
	background-image: url(../images/iris/icons/db-ko.png) ! important;
}

.icon-fatturapa-db-ok {
	background-image: url(../images/fatturapa/icons/db-ok.png) ! important;
}

.icon-fatturapa-accept-grey {
	background-image: url(../images/fatturapa/icons/accept-grey.png) ! important;
}

.icon-fatturapa-accept-red {
	background-image: url(../images/fatturapa/icons/accept-red.png) ! important;
}

.icon-fatturapa-accept-green {
	background-image: url(../images/fatturapa/icons/accept-green.png) ! important;
}

.icon-fatturapa-concilia-grey {
	background-image: url(../images/fatturapa/icons/concilia-grey.png) ! important;
}

.icon-fatturapa-concilia-red {
	background-image: url(../images/fatturapa/icons/concilia-red.png) ! important;
}

.icon-fatturapa-concilia-green {
	background-image: url(../images/fatturapa/icons/concilia-green.png) ! important;
}

.icon-fatturapa-list-grey {
	background-image: url(../images/fatturapa/icons/list-grey.png) ! important;
}

.icon-fatturapa-list-red {
	background-image: url(../images/fatturapa/icons/list-red.png) ! important;
}

.icon-fatturapa-list-green {
	background-image: url(../images/fatturapa/icons/list-green.png) ! important;
}

.icon-fatturapa-down-grey {
	background-image: url(../images/fatturapa/icons/down-grey.png) ! important;
}

.icon-fatturapa-down-red {
	background-image: url(../images/fatturapa/icons/down-red.png) ! important;
}

.icon-fatturapa-down-green {
	background-image: url(../images/fatturapa/icons/down-green.png) ! important;
}

.icon-fatturapa-up-grey {
	background-image: url(../images/iris/icons/up-grey.png) ! important;
}

.icon-fatturapa-up-red {
	background-image: url(../images/fatturapa/icons/up-red.png) ! important;
}

.icon-fatturapa-up-green {
	background-image: url(../images/iris/icons/up-green.png) ! important;
}

.icon-fatturapa-mail-grey {
	background-image: url(../images/fatturapa/icons/mail.png) ! important;
}

.icon-fatturapa-down-red-circle {
	background-image: url(../images/fatturapa/icons/down.png) ! important;
}

.icon-fatturapa-up-red-circle {
	background-image: url(../images/fatturapa/icons/up.png) ! important;
}

.icon-fatturapa-delete-red-circle {
	background-image: url(../images/fatturapa/icons/delete2.png) ! important;
}

.icon-fatturapa-delete-red-circle-small {
	background-image: url(../images/fatturapa/icons/delete.png) ! important;
}

.icon-fatturapa-xml {
	background-image: url(../images/fatturapa/icons/xml.png) ! important;
}

.icon-fatturapa-pdf {
	background-image: url(../images/fatturapa/icons/pdf.png) ! important;
}

.icon-fatturapa-plus-grey {
        background-image: url(../images/fatturapa/icons/plus-grey.png) ! important;
}

/** OLD **/

.icon-ok{
	background-image: url(../images/accept.png) ! important;
}
.icon-warn{
	background-image: url(../images/warn_ack.png) ! important;
}
.icon-refresh{
	background-image: url(../images/arrow_refresh.png) ! important;
}
 
.icon-details{
	background-image: url(../images/icons/silk/zoom.png) ! important;
}
.icon-edit{
	background-image: url(../images/icons/silk/pencil.png) ! important;
}
.icon-delete{
	background-image: url(../images/icons/silk/cross.png) ! important;
}

.icon-download{
	background-image: url(../images/icons/silk/package_down.png) ! important;
}

.icon-login{
	background-image: url(../images/icons/silk/key.png) ! important;
}

.icon-save{
	background-image: url(../images/icons/silk/disk.png) ! important;
}

.icon-compress{
	background-image: url(../images/compress.png) ! important;
}

.icon-add{
	background-image: url(../images/icons/silk/add.png) ! important;
}

.icon-back{
	background-image: url(../images/icons/silk/back1.png) ! important;
}

.icon-carica-fattura{
	background-image: url(../images/icons/silk/add.png) ! important;
}

.icon-carica-fattura:disabled{
	background-image: url(../images/icons/silk/add.png) ! important;
}

.icon-start-upload{
	background-image: url(../images/icons/silk/control_next_blue.png) ! important;
}

.icon-cancel{
	background-image: url(../images/trash.png) ! important;
}

/*eor*/

