/* Form styles */
/*collapsible field set*/
div.form-container form fieldset.collapsed,div.form-container .display-form fieldset.collapsed {
	    border-bottom-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        margin-bottom: 0;
}

div.form-container form fieldset.collapsible legend
,div.form-container .display-form fieldset.collapsible legend{
    background: transparent url('../images/tema_link/down.png') no-repeat left;
    text-indent: 20px;
    cursor: pointer;
}

div.form-container form fieldset.collapsed legend
,div.form-container .display-form fieldset.collapsed legend{
    background: transparent url('../images/tema_link/next.png') no-repeat left;
    text-indent: 20px;
    cursor: pointer;    
}


/* INLINE PROPERTY */  

label.insideLeftProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

label.insideRightProp{
	margin-right: 3px !important;
	padding-right: 3px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	width:  auto !important; 
}

p.legend {
	margin-bottom: 1em;
}

p.legend em {
	color: #FF0000;
	font-style: normal;
}

div.errorsSpacer {
	height: 4px;
}

div.errors {
	margin: 0 40px 20px 40px;
	padding: 10px 20px;
	border: #BE3232 1px solid;
	background-color: #BE3232;
	color: #FFFFFF;
	border-radius: 8px;
}

div.errors p {
	margin: 0;
}

div.errors p em {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

div.info {
	margin: 0 40px 20px 40px;
	padding: 10px 20px;
	border: #2A4879 1px solid;
	background-color: #2A4879;
	color: #FFFFFF;
	border-radius: 8px;
}

div.info p {
	margin: 0;
}

div.info p em {
	color: #FFFFFF;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
}

.rich-messages dt {
	padding-bottom: 4px;
}

div.form-container form p,div.form-container .display-form p{
	margin: .5em;
}

div.form-container form p.note, div.form-container .display-form p.note {
	margin-left: 170px;
	color: #616161;
	line-height: 100%;
}

div.form-container form div.prop ,div.form-container .display-form div.prop, div.form-container div.prop{
	padding: 3px 5px 5px 5px;  /* padding top 0px IE7 fix */
}

div.form-container form fieldset,div.form-container .display-form fieldset, div.form-container fieldset {
	margin: 10px 0;
}

div.form-container form legend,div.form-container .display-form legend, div.form-container legend {
	padding-left: 10px;
    padding-right: 10px;
    color: #46464e;
}

div.form-container label,div.form-container .display-form label {
	margin-right: 10px;	
	padding-right: 10px;
	width: 150px;
	display: block;
	float: left;
	text-align: right;
	position: relative;
	color: #46464e;;
	padding-top: 2px;
}

label.longLabel{
    margin-right: 10px;
    padding-right: 10px;
    width: 180px !important;
    display: block;
    float: left;
    text-align: right;
    position: relative;
    color: #46464e;;
	padding-top: 2px;
}

div.form-container label em ,div.form-container .display-form label em{
	position: absolute;
	right: 0;
	font-size: 120%;
	font-style: normal;
	color: #FF0000;
}

div.form-container div.controlset div,
div.form-container .display-form div.controlset div {
	margin-left: 170px;
}

div.form-container div.buttonrow,
div.form-container .display-form div.buttonrow {
	margin-top: 20px;
	margin-left: 170px;
}

div.form-container div.rich-combobox,
div.form-container .display-form div.rich-combobox{
	margin-left: 170px;
	padding-bottom: 5px; 
}

/* 	personalizzazioni */
div.form-container table.controlset label,
div.form-container .display-form table.controlset label{
	float: right;
	padding-left: 2px;
	text-align: left;
	width: auto;
}

.subtitle {
	padding: 10px 20px 6px 5px;
    margin-left: 166px;
}

.subtitle span {
	font-size: 12px;
    font-weight: bold;
    margin-left: 0px;
	color: #46464e;;
}

/* /* BUTTONS */ 

.buttonrowlista{
	display: block;
	float: right;
	padding-top: 20px;
}

.buttonrowmodal {
	text-align: center;
	padding: 20px;
	margin: 0px;
}

.buttonrowheight {
	height: 40px;
	padding-bottom: 20px;
}

.buttonrowsonda {
	margin-top: 16px;
	margin-left: 170px;
	margin-bottom: 12px;
}
/* POSITIVE */
.buttonrow input[type="submit"].positive, input[type="button"].positive, .buttonrow a.positive{
    color:#529214;
}
.buttonrow a.positive:hover, input[type="button"].positive:hover, input[type="submit"].positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttonrow a.positive:disabled, input[type="button"].positive:disabled, input[type="submit"].positive:disabled{
    color: #565656;
    cursor: default;
}
.buttonrow a.positive[disabled]:hover, input[type="button"].positive[disabled]:hover, input[type="submit"].positive[disabled]:hover{
    color: #565656;
    cursor: default;
   	background-color: #f5f5f5;
	border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}
.buttonrow a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

.buttonrowsonda a,
.buttonrowsonda input[type="button"],
.buttonrowsonda input[type="submit"],
.buttonrowmodal a,
.buttonrowmodal input[type="button"],
.buttonrowmodal input[type="submit"],
.buttonrow a,
.buttonrow input[type="button"],
.buttonrow input[type="submit"] {
	color: #ffffff;
	border: 1px solid #46464e;
	background-color: #46464e;
	background-image: none;
	font-size: 13px; 
	font-weight: bold;
	padding: 7px;
	border-radius: 5px;
	margin: 5px;
	min-width: 120px;
	cursor:pointer;
	font-family: 'Roboto';
}

input[type="submit"]:hover, input[type="button"]:hover, .buttonrow a:hover, .buttonrowmodal a:hover, .buttonrowsonda a:hover{
   	border: 1px solid #f0641e;
	background-color: #f0641e;
	color: #ffffff;
	background-image: none;
}

.secondary {
	border: 1px solid #46464e;
	background-color:  #ffffff;
	color: #46464e;
	background-image: none;
}

.buttonrow a.negative, .buttonrowmodal a.negative, .buttonrowsonda a.negative, input[type="button"].negative, input[type="submit"].negative {
	border: 1px solid #46464e;
	background-color: #ffffff;
	color: #46464e;
	background-image: none;
}

.buttonrow a.negative:hover, .buttonrowmodal a.negative:hover, .buttonrowsonda a.negative:hover, input[type="button"].negative:hover, input[type="submit"].negative:hover{
	border: 1px solid #f0641e;
	background-color: #ffffff;
	color: #f0641e;
	background-image: none;
}

.buttonrow input.icon-carica-fattura{
/* 	color: #dd2c0d; */
}

.buttonrow input.icon-carica-fattura:disabled{
	color: #565656;
	cursor: default;
}

.buttonrow input.icon-carica-fattura[disabled]:hover{
	color: #565656;
	cursor: default;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}


label.longLabel{
	margin-right: 10px;
	padding-right: 10px;
	width: 200px !important;
	display: block;
	float: left;
	text-align: right;
	position: relative;
}

.labelSliderGrafici {
	width: 160px  !important;
    padding-top: 4px   !important;
    margin-right: 0px  !important;
}

.direzioneLabelGrafici {
	width: 28px  !important;
	margin-right: 0px  !important;
	padding-top: 4px   !important;
}

.labelSpinnerGrafici {
	width: 100px  !important;
    margin-right: 0px  !important;
}

.labelSpinnerGraficiSolo {
    margin-right: 0px  !important;
}

.spinnerNumeroRisultatiGrafici input.rich-spinner-input{
	width: 20px  !important;
}

.comandi-grafici-align-default{
	width: 33%;
}

.comandi-grafici-align-center{
	text-align: center;
	width: 33%;
}

.comandi-grafici-align-right{
	text-align: right;
	width: 33%;
}

.errorsPlaceHolder {
/* 	position: fixed; */
/* 	z-index: 1000;  */
/* 	right: 10px;  */
/* 	top: 10px; */
}

@media screen and (max-width: 989px) {
    .keepMargin {
       margin-left: 190px;
    }
}

