<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BatchProxyFatturaPA</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/jbossws-cxf.xml</param-value>
  </context-param>

	<servlet>
		<servlet-name>Sonda</servlet-name>
		<servlet-class>org.govmix.proxy.fatturapa.web.commons.sonde.ServletSondaBatch</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Sonda</servlet-name>
		<url-pattern>/sonda</url-pattern>
	</servlet-mapping>

  <listener>
        <listener-class>org.govmix.proxy.fatturapa.web.timers.TimerStartupServlet</listener-class>
  </listener>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
</web-app>
