
.rich-page-footer {
    clear: both;
}
.rich-page {
    margin: auto;
    min-width: 750px;
    text-align: left;
}
.rich-page-sidebar {
    position: relative;
}
.rich-page-sidebar, .rich-page-body {
}
.rich-page-body {
    position: static;
}
.rich-page-main {
    width: 100%;
}
.rich-page-content:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.rich-page-content {
}
