/**
	diagnostici severita
 */
.diag_error{
	color: Red;
}
.diag_info{
	color: #17B517;
}
.diag_fatal{
	color: Red;
	font-weight: bold;
	font-style: normal;
}
.diag_debug{
	
}
/**
	Esito dettaglio messaggio
 */
 .esito_ok{
 	color: #17B517;
 }
 .esito_ko{
 	color: Red;
 }

/*Link con icona*/
 a[id$='iconLink']{
	display:inline-block;
	padding-left:20px;
	padding-right: 5px;
	line-height: 18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

 label[id$='iconLabel']{
	display:inline-block;
	padding-left:20px;
	line-height:18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

a.iconLinkie {
	display: inline-block;
	padding-left: 20px;
	padding-right: 5px;
	line-height: 18px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
}

.align-top {
	vertical-align: top;
}
.info{
    overflow: auto;
}

.link-plain, .link-plain:visited{
	text-decoration: none;
	color: transparent;
	background: transparent url('../images/s.gif') no-repeat left;
}
.link-plain img, .link-plain:visited img{
	border: none;
}

/*Table row*/
.even {
	background-color: #FCFFFE;
}

.odd {
	background-color: #ECF3FE;
}
.active{
	background-color: #FFEBDA;
}
/*End Table row*/

.fieldError{
	background: transparent none repeat-x scroll center bottom;
	background-image:url(../images/invalid_line.gif);
}

/* Elementi del layout che violano**/
#navbar {
	width: 100%;
}

#body {
	width: 100% !important;
}

.rf-pg-hdr {
	border: none !important;
	min-height: 40px ;
    padding: 0 20px !important;

}
.rf-pg-cnt {
	border: none;
}

.rf-pg-main {
	border-top: 0px;
}

#menuct_body {
	padding-left: 0px;
}

.rf-pg {
	margin: auto 10px;
	width: auto;
}

.rf-pg-main {
	float: right;
	margin-left: -30em;
}

.rf-pg-sidebar {
	float: left;
	width: 19.23077em;
	*width: 18.75047em;
}

.rf-pg-bd {
	margin-left: 20.23077em;
	*marginleft: 19.72547em;
}

.rf-pg-bd {
	float: none;
	width: auto;
}

.rf-pg-ftr {
	padding: 5px 0px !important;
	 background-color: #bed6f8;
    background-position: left center;
    background-repeat: repeat-x;
    border-top: 1px solid #fff;
} 
.rf-pg-ftr-cnt {
    text-align: center;
}


.rf-pg-sidebar, .rf-pg-bd, .rf-pg-ftr, .rf-pg-hdr-cnt {
    color: #000;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.fullWidth{
	width: 100%;
}
